/* General Styles */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #1a1a1a;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  margin: 0;
}
